// Bootstrap
// ---------------------------------------------------
@import "~bootstrap/scss/functions";
@import "~admin-lte/build/scss/bootstrap-variables";
// Custom Theme Color START
$custom-color: #8e855b;
$theme-colors: (
  primary: $custom-color,
);
// Custom Theme Color END

// Variables and Mixins
// ---------------------------------------------------
@import "~admin-lte/build/scss/variables";
@import "~admin-lte/build/scss/variables-alt";
@import "~admin-lte/build/scss/mixins";

@import "~bootstrap/scss/bootstrap";

@import "~admin-lte/build/scss/parts/core";
@import "~admin-lte/build/scss/parts/components";
@import "~admin-lte/build/scss/parts/extra-components";
@import "~admin-lte/build/scss/parts/pages";
@import "~admin-lte/build/scss/parts/plugins";
@import "~admin-lte/build/scss/parts/miscellaneous";

.form-control:focus {
  border-color: $custom-color !important;
}

.callout-primary {
  border-color: $custom-color !important;
}

.input-group-addon {
  font-weight: 600;
  font-size: 15px;
  background: #e3e3e3;
}
.react-datepicker__year-dropdown .react-datepicker__year-option:first-child::before {
  content: "\25B2";
  position: absolute;
  top: 2.5%;
  left: 45%;
  margin: auto;
}

.react-datepicker__year-dropdown::after {
  content: "\25BC";
  position: absolute;
  bottom: 2.5%;
  left: 45%;
  display: block;
}
@import "~admin-lte/build/scss/bootstrap-variables";
